.tile {
  width: 30px;
  height: 30px;
  /* transition: 'transform 0.2s ease'; */
}

.tile.empty {
  background-color: #AAA;
}

.tile.grass {
  background-image: url('../../public/textures/grass.png');
  background-size: cover;
}

.tile.tree {
  background-image: url('../../public/textures/tree_outlined.png'), url('../../public/textures/grass.png');
  background-size: cover;
}

.tile.barrier {
  background-color: #111;
  background-image: url('../../public/textures/barrier.png'), url('../../public/textures/grass.png');
  background-size: cover;
}

.tile.none {
  background-color: black;
}

.Tile.player {
  background-color: green;
}