.Map {
  background-color: lightblue;
  display: flex;
}

.Tile {
  width: 30px;
  height: 30px;
  /* transition: 'transform 0.2s ease'; */
}

.Tile.empty {
  background-color: darkolivegreen;
}

.Tile.obstacle {
  background-color: #111;
}

.Tile.none {
  background-color: black;
}

.Tile.player {
  background-color: green;
}